<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Tesoreria</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)"> Mantenimiento de puntos de venta</a></li>
        </ol>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">                
                <form class="col-sm-12 mt-3">  
                    <div class="form-row">
                        <div class="input-group mb-3 diet-search mr-4">
                            <input type="text" class="form-control" placeholder="Search Menus here">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                         
                        <div class="form-group mr-4">
                            <a type="button" data-toggle="modal" data-target=".newpv" class="btn btn-info">Agregar<span
                                class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </a>                        
                        </div>
                        <div class="form-group">
                            <a type="button" class="btn btn-secondary" title="Descargar y Generar Excel">Excel<span
                                class="btn-icon-right"><i class="fa fa-download"></i></span>
                            </a>                        
                        </div>
                        <div class="form-group mb-0 ml-auto">
                            <label class="radio-inline mt-3 mr-3"><input type="radio" name="optradio"> Todos</label>
                            <label class="radio-inline mt-3 mr-3"><input type="radio" name="optradio"> Activos</label>
                            <label class="radio-inline mt-3 mr-3"><input type="radio" name="optradio"> Inactivos</label>
                        </div>
                    </div>
                </form>                    
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-responsive-sm">
                        <thead class="thead-info">
                            <tr>     
                                <th>Nro.</th>
                                <th>Local</th>                            
                                <th>Nombre</th>                            
                                <th>Estado</th>                              
                                <th>Fecha Registro</th>                              
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>295</td>
                                <td>Villa maria</td>
                                <td>Machin Alberto</td>
                                <td>
                                    <span class="badge light badge-success">Activo</span>
                                    <!--
                                    <span class="badge light badge-danger">Propuesta Enviada</span>
                                    <span class="badge light badge-warning">Propuesta Pendiente</span>
                                    -->                                    
                                </td> 
                                <td>17-01-2020</td>
                                <td>
                                    <div class="d-flex">
                                        <a data-toggle="modal" data-target=".anewpv" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                        <a data-toggle="modal" data-target="#eliminar" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
                
    <!-- Confirmación -->
    <div class="modal fade" id="eliminar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro que desea eliminar?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
                   
    <!--Agregar -->

    <div class="modal fade newpv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nueva Punto Venta</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="custom-tab-1">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#datos">Datos del Punto de Venta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tipos">Tipo de Pagos que se Aceptan</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="datos" role="tabpanel">
                                <div class="pt-4">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Local:</label>
                                            <input type="text" class="form-control">
                                        </div>    
                                        <div class="form-group col-md-6">
                                            <label>Nombre:</label>
                                            <input type="text" class="form-control">
                                        </div>  
                                        <div class="form-group col-md-6">
                                            <label>Estado:</label>
                                            <select class="form-control default-select">
                                                <option selected>Activo</option>
                                                <option>Inactivo</option>                               
                                            </select>                    
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tipos">
                                <div class="pt-4">
                                    <div class="form-row">
                                        <!--Solo si es Crédito-->
                                        <div class="form-group col-md-12">
                                            <label class="col-md-12">Tipo de Pago</label>  
                                            <div class="input-group">
                                                <select class="form-control default-select">
                                                    <option selected>Crédito</option>
                                                    <option>Contado</option>                              
                                                </select>   
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <!--Fin Solo si es Crédito-->                                        

                                        <!--Solo si es Contado-->
                                        <div class="form-group col-md-12">
                                            <label>Tipo de Pago</label>  
                                            <select class="form-control default-select">
                                                <option selected>Contado</option>
                                                <option>Crédito</option>                               
                                            </select>
                                        </div>
                                            <!--Solo si es Efectivo-->
                                            <div class="form-group col-md-12">
                                                <label class="col-md-12">Método de Pago</label>  
                                                <div class="input-group">
                                                    <select class="form-control default-select">
                                                        <option selected>Efectivo</option>
                                                        <option>Tarjeta</option>                            
                                                    </select>   
                                                    <div class="input-group-append">
                                                        <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Solo si es Efectivo-->
                                            <!--Solo si es Tarjeta-->
                                            <div class="form-group col-md-4">
                                                <label>Método de Pago</label>  
                                                <select class="form-control default-select">
                                                    <option selected>Tarjeta</option>
                                                    <option>Efectivo</option>                               
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Tipo de Tarjeta:</label>  
                                                <select class="form-control default-select">
                                                    <option selected>Crédito</option>
                                                    <option>Débito</option>                               
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Marca de Tarjeta:</label>  
                                                <div class="input-group">
                                                    <select class="form-control default-select">
                                                        <option selected>Bcp</option>
                                                        <option>BBVA</option>                                      
                                                    </select>   
                                                    <div class="input-group-append">
                                                        <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Solo si es Tarjeta-->                                                                             
                                        <!--Fin Solo si es Contado-->
                                        <div class="form-group col-md-12">
                                            <hr>
                                        </div>
                                    </div>     
                                    
                                    <div class="table-responsive">
                                        <table class="table table-hover table-responsive-sm">
                                            <thead class="thead-info">
                                                <tr>                                                          				
                                                    <th>Medio Pago</th>
                                                    <th>Metodo</th>                            
                                                    <th>Tipo Tarjeta</th>                            
                                                    <th>Marca</th>                              
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>CONTADO</td>
                                                    <td>TARJETA</td>
                                                    <td>TARJETA DE DÉBITO</td>
                                                    <td>2</td>                                                    
                                                    <td>
                                                        <div class="d-flex">
                                                            <a class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>    

    <!--Actualizar -->

    <div class="modal fade anewpv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar Punto Venta</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="custom-tab-1">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#datos1">Datos del Punto de Venta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tipos1">Tipo de Pagos que se Aceptan</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="datos1" role="tabpanel">
                                <div class="pt-4">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Local:</label>
                                            <input type="text" class="form-control">
                                        </div>    
                                        <div class="form-group col-md-6">
                                            <label>Nombre:</label>
                                            <input type="text" class="form-control">
                                        </div>  
                                        <div class="form-group col-md-6">
                                            <label>Estado:</label>
                                            <select class="form-control default-select">
                                                <option selected>Activo</option>
                                                <option>Inactivo</option>                               
                                            </select>                    
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tipos1">
                                <div class="pt-4">
                                    <div class="form-row">
                                        <!--Solo si es Crédito-->
                                        <div class="form-group col-md-12">
                                            <label class="col-md-12">Tipo de Pago</label>  
                                            <div class="input-group">
                                                <select class="form-control default-select">
                                                    <option selected>Crédito</option>
                                                    <option>Contado</option>                              
                                                </select>   
                                                <div class="input-group-append">
                                                    <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <!--Fin Solo si es Crédito-->                                        

                                        <!--Solo si es Contado-->
                                        <div class="form-group col-md-12">
                                            <label>Tipo de Pago</label>  
                                            <select class="form-control default-select">
                                                <option selected>Contado</option>
                                                <option>Crédito</option>                               
                                            </select>
                                        </div>
                                            <!--Solo si es Efectivo-->
                                            <div class="form-group col-md-12">
                                                <label class="col-md-12">Método de Pago</label>  
                                                <div class="input-group">
                                                    <select class="form-control default-select">
                                                        <option selected>Efectivo</option>
                                                        <option>Tarjeta</option>                            
                                                    </select>   
                                                    <div class="input-group-append">
                                                        <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Solo si es Efectivo-->
                                            <!--Solo si es Tarjeta-->
                                            <div class="form-group col-md-4">
                                                <label>Método de Pago</label>  
                                                <select class="form-control default-select">
                                                    <option selected>Tarjeta</option>
                                                    <option>Efectivo</option>                               
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Tipo de Tarjeta:</label>  
                                                <select class="form-control default-select">
                                                    <option selected>Crédito</option>
                                                    <option>Débito</option>                               
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label>Marca de Tarjeta:</label>  
                                                <div class="input-group">
                                                    <select class="form-control default-select">
                                                        <option selected>Bcp</option>
                                                        <option>BBVA</option>                                      
                                                    </select>   
                                                    <div class="input-group-append">
                                                        <button class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Fin Solo si es Tarjeta-->                                                                             
                                        <!--Fin Solo si es Contado-->
                                        <div class="form-group col-md-12">
                                            <hr>
                                        </div>
                                    </div>     
                                    
                                    <div class="table-responsive">
                                        <table class="table table-hover table-responsive-sm">
                                            <thead class="thead-info">
                                                <tr>                                                          				
                                                    <th>Medio Pago</th>
                                                    <th>Metodo</th>                            
                                                    <th>Tipo Tarjeta</th>                            
                                                    <th>Marca</th>                              
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>CONTADO</td>
                                                    <td>TARJETA</td>
                                                    <td>TARJETA DE DÉBITO</td>
                                                    <td>2</td>                                                    
                                                    <td>
                                                        <div class="d-flex">
                                                            <a class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-times"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>    
  

</div>  