<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Tesoreria</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Pagos y Cobranzas</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Cuentas por Pagar</a></li>
        </ol>
    </div>


    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills mb-4">
                    
                    <li class="nav-item mr-auto">
                        
                    </li>                               
                    <li class="nav-item">
                        <div class="input-group diet-search ml-2">
                            <input type="text" class="form-control" placeholder="Buscar Aquí...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </li>                    
                </ul>
                <!-- -->
                <div class="table-responsive">
                    <table class="table header-border table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Tipo Documento</th>
                                <th>Codigo</th>
                                <th>Cliente</th>
                                <th>Fecha de Emisión</th>
                                <th>Fecha de Vencimiento</th>
                                <th>Estado</th>
                                <th>SubTotal</th>
                                <th>Impuestos</th>
                                <th>Total</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Boleta
                                </td>
                                <td>0000000375</td>
                                <td>Cashito SAC</td>
                                <td>01/01/2000</td>
                                <td>01/01/2000</td>
                                <td><span class="badge badge-success">Activo</span></td>
                                <td>
                                    9.00
                                </td>
                                <td>
                                    1.44
                                </td>
                                <td>
                                    10.44
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" data-toggle="modal" data-target=".editarCuentaporPagar"><i class="mdi  mdi-pencil" style="font-size: 30px; color: #0B2A97;margin-left: 25%; cursor: pointer;"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Factura
                                </td>
                                <td>0000000376</td>
                                <td>Cashito SAC</td>
                                <td>01/01/2000</td>
                                <td>01/01/2000</td>
                                <td><span class="badge badge-danger">Inactivo</span></td>
                                <td>
                                   8.00
                                </td>
                                <td>
                                    1.50
                                </td>
                                <td>
                                    9.50
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a href="#" data-toggle="modal" data-target=".editarCuentaporPagar"><i class="mdi  mdi-pencil" style="font-size: 30px; color: #0B2A97;margin-left: 25%; cursor: pointer;"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- -->
            </div>
            <nav>
                <ul class="pagination pagination-gutter">
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript:void()">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                    <li class="page-item page-indicator">
                        <a class="page-link" href="javascript:void()">
                            <i class="la la-angle-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- SEPARADOR XD -->
<!-- SEPARADOR XD -->
<!-- SEPARADOR XD -->

<div class="modal fade editarCuentaporPagar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header color-page-modal">
                <h3 class="modal-title mt-3 ml-3" style="color: black;">Actualizar Documento</h3>                
                
                <div class="btn-group m-b-10 m-r-10 " role="group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary font-18" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Mostrar PDF"><i
                    class="mdi mdi-file-pdf"></i></button>
                        <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Acciones
                </button>
                        <div class="dropdown-menu ">
        
        
                            <a class="dropdown-item pointer">Ingresar Pago</a>
        
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal " id="loginform">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 mb-4">

                                <div class="form-row">                                  
                                    <div class="col-sm-3">
                                        <h5>Documento Referencia :</h5>
                                        <select class="form-control default-select" id="sel1">
                                            <option selected>Selecciona el Proyecto</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>                                         
                                        </select>                                                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Serie :</h5>
                                        <div class="controls">
                                            <input type="text" name="codigo" maxlength="20" class="form-control" aria-invalid="false">
                                            <div class="help-block"></div>
                                        </div>                                                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Número :</h5>
                                        <div class="controls">
                                            <input type="text" name="codigo" maxlength="20" class="form-control" aria-invalid="false">
                                            <div class="help-block"></div>
                                        </div>                                                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Moneda :</h5>
                                        <select class="form-control default-select" id="sel1">
                                            <option selected>Selecciona la Moneda</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>                                         
                                        </select>                                                                        
                                    </div>
                                                                                              
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-4">

                                <div class="form-row">                                  
                                    <div class="col-sm-3">
                                        <h5>Fecha Emisión :</h5>
                                        <div class="controls">
                                            <input type="date" class="form-control" aria-invalid="false">
                                            <div class="help-block"></div>
                                        </div>                                                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Forma de Pago :</h5>
                                        <select class="form-control default-select" id="sel1">
                                            <option selected>Selecciona el Tipo Concepto</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>                                         
                                        </select>                                                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Fecha de Pago :</h5>
                                        <div class="controls">
                                            <input type="date" class="form-control" aria-invalid="false">
                                            <div class="help-block"></div>
                                        </div>                                                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>Ref. Doc Proveedor :</h5>
                                        <div class="controls">
                                            <input type="text" name="codigo" maxlength="20" class="form-control" aria-invalid="false">
                                            <div class="help-block"></div>
                                        </div>                                                                     
                                    </div>
                                                                                              
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-row">
                                    <div class="col-sm-3">
                                        <h5>Estado :</h5>
                                        <select class="form-control default-select" id="sel1">
                                            <option selected>Selecciona el Proyecto</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>                                         
                                        </select>                                                                        
                                    </div>                                  
                                    <div class="col-sm-3">
                                        <h5>Proyecto :</h5>
                                        <select class="form-control default-select" id="sel1">
                                            <option selected>Selecciona el Proyecto</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>                                         
                                        </select>                                                                        
                                    </div> 
                                    <div class="col-sm-3">
                                        <h5>Tipo Concepto :</h5>
                                        <select class="form-control default-select" id="sel1">
                                            <option selected>Selecciona el Tipo Concepto</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>                                         
                                        </select>                                                                        
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <h5> Proveedor :<span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="text" name="codigo" maxlength="20" class="form-control" aria-invalid="false">
                                                <div class="help-block"></div>
                                            </div>
                                            <div >
                                                <div >
                                                    <div class="form-control-feedback text-danger"><small>El campo es obligatorio.</small></div>
                                                </div>
                                                <div>
                                                    <div class="form-control-feedback text-danger"><small>El campo no debe exceder de 20 caracteres.</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                                           
                                </div>
                            </div>

                        </div>
                
                
                
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#detallesfactura" role="tab"><span
                                class="hidden-sm-up"><i class="mdi mdi-view-list"></i></span> <span class="hidden-xs-down">Líneas</span></a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#otrosdatos" role="tab"><span
                                class="hidden-sm-up"><i class="mdi mdi-library-plus"></i></span> <span class="hidden-xs-down">Mas
                                información</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#archivosadjuntos" role="tab"><span
                                    class="hidden-sm-up"><i class="mdi mdi-view-list"></i></span> <span class="hidden-xs-down">Adjuntos</span></a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#asientoscontablesfactura" role="tab"><span
                                class="hidden-sm-up"><i class="mdi mdi-currency-usd"></i></span> <span class="hidden-xs-down">Asientos
                                Contables</span></a> </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="detallesfactura" role="tabpanel">
                
                                        <div class="table-responsive">
                                            <table class="table primary-table-bordered">
                                                <thead class="thead-primary">
                                                    <tr>
                
                
                                                        <th>Código</th>
                                                        <th>Producto</th>
                                                        <th>Centro Costo</th>
                                                        <th>Cantidad.</th>
                                                        <th>U. Medida</th>
                                                        <th>Precio Comp.</th>
                                                        <th>Afecto.</th>
                                                        <th>Sub total.(S/.)</th>
                                                        <th>Imp.(S/.)</th>
                                                        <th>Total(S/.)</th>
                
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                
                
                                                        <td class="form-edit">
                                                            <div class="col-xs">
                                                                <div class="controls">
                                                                    <input type="text" name="codigo" class="form-control" aria-invalid="false" disabled>
                                                                    <div class="help-block"></div>
                                                                </div>                                                                     
                                                            </div>
                                                        </td>
                                                        <td class="form-edit">Descripcion</td>
                
                                                        <td class="form-edit">
                                                            <select class="form-control ng-dirty ng-valid ng-touched" [disabled]="true">
                                        <option >
                                          Nombre
                                        </option>
                                      </select>
                                                        </td>
                
                                                        <td class="form-edit"><input type="number" [disabled]="true" class="form-control  " placeholder="Ingrese cantidad"></td>
                                                        <td class="form-edit">
                                                            <select [disabled]="true" class="form-control ng-dirty ng-valid ng-touched">
                                        <option>
                                          Unidad
                                        </option>
                                      </select>
                                                        </td>
                                                        <td class="form-edit">
                
                                                            <input type="number" step="0.01" myNumberOnly [disabled]="true" class="form-control " placeholder="Ingrese costo unitario">
                
                
                                                        </td>
                                                        <td class="form-edit">
                
                                                            <select disabled class="form-control ng-dirty ng-valid ng-touched">
                                        <option>
                                          1
                                        </option>
                                      </select>
                                                        </td>
                                                        <td class="form-edit">3</td>
                                                        <td class="form-edit">2</td>
                                                        <td class="form-edit">1</td>
                                                    </tr>
                                                    <tr >
                                                        <td colspan="5" class="text-left"></td>
                                                        <td class="text-right"></td>
                                                        <td class="text-right" style="font-weight: bolder;">Subtotal: </td>
                
                                                        <td class="form-edit">1</td>
                                                        <td class="form-edit">2</td>
                                                        <td class="form-edit">3</td>
                                                    </tr>
                
                                                </tbody>
                                            </table>
                                        </div>
                
                                    </div>
                                    <div class="tab-pane  " id="otrosdatos" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h5> Comentario:</h5>
                                                    <div class="controls">
                                                        <input type="text" name="comentario" maxlength="200" class="form-control" aria-invalid="false">
                                                        <div class="help-block"></div>
                                                    </div>
                                                    <div>
                                                        <div>
                                                            <div class="form-control-feedback text-danger"><small>El campo es obligatorio.</small></div>
                                                        </div>
                                                        <div >
                                                            <div class="form-control-feedback text-danger"><small>El campo no debe ecceder de 200
                                          caracteres.</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="archivosadjuntos" role="tabpanel">



                                        <div class="card">
                                            <div class="row">
                                                <!-- Column -->
                                                <div class="col-lg-5 col-xlg-3 col-md-6 ">
                
                                                    <div class="card-body little-profile text-center">
                                                        <input type="file" 
                                                            id="input-file-now" class="dropify">
                
                                                    </div>
                
                                                    <div class="card-body text-center">
                                                        <button type="button" 
                                                            class="waves-effect waves-dark btn btn-success btn-md btn-rounded">Adjuntar
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Column -->
                                                <div class="col-lg-7 col-xlg-9 col-md-6 b-l p-l-0">
                                                    <table class="table table-bordered p-t-10 form-material">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Documento</th>
                                                                <th>Descargar</th>
                                                                <th>Delete</th>
                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>ga</td>
                                                                <td>aea</td>
                                                                <td><a target="_blank" class="pointer">Descargar</a></td>
                                                                <td><a>Eliminar</a></td>
                                                            </tr>
                
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- Column -->
                                            </div>
                                        </div>
                
                
                
                                    </div>
                                    <div class="tab-pane p-20" id="asientoscontablesfactura" role="tabpanel">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="row">
                
                
                                                    <table class="table primary-table-bordered">
                                                        <thead class="thead-primary">
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Cuenta</th>
                                                                <th>Debe</th>
                                                                <th>Haber</th>
                                                                <th>Glosa</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                                <td>4</td>
                                                                <td>5</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2"></td>
                                                                <td>6</td>
                                                                <td>7</td>
                                                                <td>8</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </div>
                
                
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger light" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary light">Guardar</button>
            </div>
        </div>
    </div> 
</div>

<!-- SEPARADOR XD -->
<!-- SEPARADOR XD -->
<!-- SEPARADOR XD -->


<!-- /.modal !-->
