<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Compras</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Documentos</a></li>
            <li class="breadcrumb-item"><a routerLink="/compras/documentos/documentos-compra">Documento Compra</a></li>
            <li class="breadcrumb-item active"><a  href="javascript:void(0)">Añadir Documento Compra</a></li>

        </ol>
    </div>

    <div class="col-lg-12">
        <div class="card">           
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group mr-auto">
                        <button type="button" class="btn light btn-primary" style="overflow: hidden; position: relative;">
                            <input class="fileInput" type="file" name="file1" accept=".csv"
                            style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                            <span class="btn-icon-left text-primary">
                                <i class="fa fa-upload color-info"></i>
                            </span>Carga Xml
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group mr-1">
                                <button type="button" class="btn btn-success">Mostrar Pago <span
                                    class="btn-icon-right"><i class="fa fa-usd"></i></span>
                                </button>
                            </div>
                            <div class="form-group mr-1">
                                <button type="button" class="btn btn-danger">Mostrar Pdf <span
                                    class="btn-icon-right"><i class="fa fa-file-pdf-o"></i></span>
                                </button>
                            </div>
                            <div class="form-group mr-1">
                                <div class="dropdown">                            
                                    <button type="button" class="btn btn-info" data-toggle="dropdown">Acciones <span
                                        class="btn-icon-right"><i class="fa fa-list-ul"></i></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Nota Crédito/Débito</a>
                                        <a class="dropdown-item" href="#">Registrar Guía</a>
                                        <a class="dropdown-item" href="#">Copiar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>             
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">           
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Documento Referencia:</label>
                        <select class="form-control default-select">
                            <option selected disabled>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>                        
                    </div>
                    <div class="form-group col-md-4">
                        <label>Serie:</label>
                        <input type="text" class="form-control" placeholder="Serie">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Número:</label>
                        <input type="text" class="form-control" placeholder="Número">
                    </div>                   
                    <div class="form-group col-md-4">
                        <label>Moneda:</label>
                        <select class="form-control default-select">
                            <option selected disabled>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>  
                    </div>   
                    <div class="form-group col-md-4">
                        <label>Fecha de Emisión:</label>
                        <input type="date" class="form-control" placeholder="Fecha">
                        <!--
                        <input type="text" class="form-control" placeholder="Fecha" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">
                        -->
                    </div>
                    <div class="form-group col-md-4">
                        <label>Formas de Pago:</label>
                        <select class="form-control default-select">
                            <option selected disabled>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>                        
                    </div>
                    <div class="form-group col-md-4">
                        <label>Fecha de Pago:</label>
                        <input type="date" class="form-control" placeholder="Fecha">
                        <!--
                        <input type="text" class="form-control" placeholder="Fecha" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}">
                        -->
                    </div>
                    <div class="form-group col-md-4">
                        <label>Ref. Doc.Proveedor:</label>
                        <input type="text" disabled class="form-control" placeholder="Ref. Doc.Proveedor">
                    </div> 
                    <div class="form-group col-md-4">
                        <label>Estado:</label>
                        <select class="form-control default-select">
                            <option selected disabled>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>                        
                    </div>
                    <div class="form-group col-md-3">
                        <label>Tipo de Cambio:</label>
                        <select class="form-control default-select">
                            <option selected disabled>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>                        
                    </div>
                    <div class="form-group col-md-3">
                        <label>Proyecto:</label>
                        <select class="form-control default-select">
                            <option selected disabled>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select> 
                    </div>  
                    <div class="form-group col-md-3">
                        <label>Tipo Concepto:</label>
                        <select class="form-control default-select">
                            <option selected disabled>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select> 
                    </div>  
                    <div class="form-group col-md-3">
                        <label>Proveedor:</label>
                        <input type="text" class="form-control" placeholder="Serie">
                    </div>
                         
                </div>                
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">            
            <div class="card-body">
                <div class="form-group col-md-3">
                    <label>Estado operacion:</label>
                    <select class="form-control default-select">
                        <option selected disabled>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select> 
                </div> 
                <!-- Nav tabs -->
                <div class="default-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#lineas">Líneas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#info">Más Información</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#asiento">Asientos Contables</a>
                        </li>
                        <li class="nav-item mr-auto">
                            <a class="nav-link" data-toggle="tab" href="#anticipo">Anticipos</a>
                        </li>                        
                    </ul>
                    
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="lineas" role="tabpanel">                                                         
                            <div class="table-responsive pt-4">
                                <table class="table table-hover table-responsive-sm mt-2">
                                    <thead class="thead-info">
                                        <tr>                                					                               
                                            <th>X</th>
                                            <th>Código</th>
                                            <th>Producto</th>
                                            <th>Centro Costo</th>
                                            <th>Cantidad</th>
                                            <th>U. Medida</th>
                                            <th>Precio Comp.</th>
                                            <th>Afecto</th>
                                            <th>Sub total</th>
                                            <th>Imp</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex">
                                                    <a href="#" class="btn btn-danger shadow btn-xs sharp mr-1"><i class="fa fa-trash"></i></a>
                                                    <a data-toggle="modal" data-target=".producto" class="btn btn-primary shadow btn-xs sharp"><i class="fa fa-search"></i></a>
                                                </div>
                                            </td>    
                                            <td>32132132</td>                                
                                            <td>Celulares </td>
                                            <td>
                                                <select class="form-control default-select">
                                                    <option selected disabled>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>  
                                            </td>   
                                            <td>1</td>
                                            <td>
                                                <select class="form-control default-select">
                                                    <option selected disabled>Unidades</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>  
                                            </td>
                                            <td>1</td>
                                            <td>
                                                <select class="form-control default-select">
                                                    <option selected disabled>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>  
                                            </td>      		                                     
                                            <td>S/.2.54</td>
                                            <td>S/.0.46</td>
                                            <td>S/.3.00</td>
                            
                                        </tr>                           
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="info">
                            <div class="form-row pt-4">                                
                                <div class="col-sm-12">
                                    <label>Comentario:</label>
                                    <textarea class="form-control" id="" cols="20" rows="10"></textarea>
                                </div>
                            </div>  
                        </div>
                        <div class="tab-pane fade" id="asiento">
                            <div class="table-responsive mt-4">
                                <table class="table table-hover table-responsive-sm mt-2 text-center">
                                    <thead class="thead-info">
                                        <tr>                                					                               
                                            <th>#</th>
                                            <th>Cuenta</th>
                                            <th>Debe</th> 
                                            <th>Haber</th>
                                            <th>Glosa</th>                                                                                             
                                        </tr>
                                    </thead>
                                    <tbody>                                       			
                                        <tr>   
                                            <td>1</td>                                
                                            <td>40111001-IMPUESTO GENERAL A LAS VENTAS</td>
                                            <td>S/.92.25</td>  
                                            <td>S/.0.00</td>  
                                            <td>22/1 Por el anticipo del 25% de la compra de mercadería</td>  
                                        </tr>                                                                           
                                    </tbody>
                                </table>
                            </div>
                                
                        </div>
                        <div class="tab-pane fade" id="anticipo">
                            <div class="pt-4">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-responsive-sm mt-2 text-center">
                                            <thead class="thead-info">
                                                <tr>                                					                               
                                                    <th>#</th>
                                                    <th>Documento</th>
                                                    <th>Boucher Pago</th>                                                                                             
                                                    <th>Fecha</th>                                                                                             
                                                    <th>Porcentaje</th>                                                                                             
                                                    <th>Sub Total</th>                                                                                             
                                                    <th>Igv</th>                                                                                             
                                                    <th>Total</th>                                                                                               
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>   			
                                                    <td>1</td>                                
                                                    <td>656565656</td>  
                                                    <td>656565656</td>  
                                                    <td>20/01/21</td>  
                                                    <td>0%</td>  
                                                    <td>S/.0.00</td>  
                                                    <td>S/.0.00</td>  
                                                    <td>S/.0.00</td> 
                                                </tr>                                                                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-row">  
                        <div class="col-sm-2">
                        </div>                                
                        <div class="col-sm-4">
                            <h5 class="mt-2">¿Está seguro que desea guardar?</h5>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success">Guardar <span
                                class="btn-icon-right"><i class="fa fa-save"></i></span>
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" routerLink="/compras/documentos/documentos-compra" class="btn btn-danger">Cancelar <span
                                class="btn-icon-right"><i class="fa fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                </form>            
            </div>
        </div>
    </div>

    <div class="modal fade producto" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">PRODUCTO/SERVICIO </h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">                        
                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="input-group mb-2 diet-search col-sm-12">
                                <h5>Seleccione un producto del listado</h5>
                            </div> 
                        </div> 
                        <div class="col-sm-4">
                            <div class="input-group mb-2 diet-search col-sm-12">
                                <input type="text" class="form-control" placeholder="Buscar">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div> 
                        </div>                       
                                
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select class="form-control default-select">
                                    <option selected disabled>Buscar Por</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>                 
                    </div>     
                    <hr>   
                    <div class="table-responsive">
                        <table class="table table-hover table-responsive-sm">
                            <thead class="thead-info">
                                <tr>
                                    <th>Código</th>
                                    <th>Marca</th>
                                    <th>Nombre</th>
                                    <th>Unidad Medida</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>00004</th>
                                    <td>-</td>                                
                                    <td>Frutas Deshidratadas</td>
                                    <td>Unidades</td>                                        
                                </tr>                           
                            </tbody>
                        </table>
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div> 
</div>


