<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Compras</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Catálogos</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Productos</a></li>
        </ol>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">               
                <div class="col-sm-12 mt-3">  
                    <div class="form-row">
                        <div class="input-group mb-3 diet-search mr-4">
                            <input type="text" class="form-control" placeholder="Search Menus here">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="form-group mr-4">
                            <a class="btn btn-success" data-toggle="modal" data-target=".acpro" title="Agregar"><i class="fa fa-plus"></i></a>                
                        </div>
                        <div class="form-group mb-0 mr-4">
                            <label class="radio-inline mt-3 mr-1"><input type="radio" name="optradio"> Todos</label>
                            <label class="radio-inline mt-3 mr-1"><input type="radio" name="optradio"> Activos</label>
                            <label class="radio-inline mt-3 mr-1"><input type="radio" name="optradio"> Inactivos</label>
                        </div>  
                        <div class="form-group ml-auto">
                            <a type="button" class="btn light btn-secondary ml-1 btn-sm mt-2" style="overflow: hidden; position: relative;">
                                <input class="fileInput" type="file" name="file1" accept="image/*"
                                style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                                <span class="btn-icon-left text-secondary">
                                    <i class="fa fa-upload color-info"></i>
                                </span>Cargar Planilla Producto
                            </a>  
                            <a type="button" class="btn light btn-success ml-1 btn-sm mt-2" style="overflow: hidden; position: relative;">
                                <span class="btn-icon-left text-success">
                                    <i class="fa fa-download color-success"></i>
                                </span>Descargar Planilla Producto
                            </a>  
                        </div> 
                    </div>
                </div>                    
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-responsive-sm">
                        <thead class="thead-info">
                            <tr>
                                <th>Nro.</th>
                                <th>Marca</th>
                                <th>Tipo</th>
                                <th>Nombre</th>
                                <th>Fecha de Registro</th>
                                <th>Stock Mínimo</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01-000000828</td>
                                <td>Domestiko</td>
                                <td>2</td>
                                <td>Boleta</td>
                                <td>21-01-2021</td>
                                <td>2</td>
                                <td>
                                    <span class="badge light badge-success">Activo</span>
                                    <!--
                                    <span class="badge light badge-danger">Propuesta Enviada</span>
                                    <span class="badge light badge-warning">Propuesta Pendiente</span>
                                    -->                                    
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a data-toggle="modal" data-target=".eacpro" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                        <a data-toggle="modal" data-target="#eliminar" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
                
    <!-- Modal -->
    <div class="modal fade" id="eliminar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro que desea eliminar?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Agregar|-->
    <div class="modal fade acpro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">NUEVO CONCEPTOS</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="default-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#info">Información General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#inventario">Inventario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#foto">Foto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#detcon">Detalles Contabilidad</a>
                            </li>
                            <li class="nav-item mr-auto">
                                <a class="nav-link" data-toggle="tab" href="#anticipo">Presentación</a>
                            </li>                        
                        </ul>
                        
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">                                                         
                                <div class="form-row pt-4">
                                    <div class="form-group col-md-4">
                                        <label>Código:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Ámbito:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Tipo Concepto:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Marca:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>                  
                                    <div class="form-group col-md-4">
                                        <label>Nombre:</label>
                                        <input type="text" class="form-control" placeholder="Serie">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Estado:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Descripción:</label>
                                        <textarea class="form-control"></textarea>                        
                                    </div>
                                    <div class="form-group col-sm-4 mt-2">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="igv" required>
                                            <label class="custom-control-label" for="igv">Precio Incluye IGV</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 mt-2">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="pventa" required>
                                            <label class="custom-control-label" for="pventa">Mostrar Punto Venta</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 mt-2">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="vss" required>
                                            <label class="custom-control-label" for="vss">Vender sin Stock</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Precio Compra:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Precio Venta:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Stock Mínimo:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Stock Máximo:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Clase:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Grupo:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Sub Grupo:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Cod. SUNAT:</label>
                                        <input type="text" class="form-control" placeholder="Serie">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Tipo Afecto:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="alert alert-info text-center" role="alert">
                                            Info! Escribir las 3 primeras letras del producto para empezar a buscar.
                                        </div>
                                    </div>                                                                     
                                </div>  
                            </div>
    
                            <div class="tab-pane fade" id="inventario">
                                <div class="form-row pt-4">                                
                                    <div class="col-sm-12">
                                       
                                    </div>
                                </div>  
                            </div>
    
                            <div class="tab-pane fade" id="foto">
                                <div class="form-row pt-4">       
                                    <div class="form-group col-md-12">
                                        <label class="mr-2">Foto Producto:</label>
                                        <button type="button" class="btn light btn-primary" style="overflow: hidden; position: relative;">
                                            <input (change)="detectFiles($event)" class="fileInput" type="file" name="file1" accept="image/*"
                                            style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                                            <span class="btn-icon-left text-primary">
                                                <i class="fa fa-upload color-info"></i>
                                            </span>Subir foto
                                        </button>                                
                                    </div>  
                                    <div class="form-group col-md-12">
                                        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="100%">
                                    </div>
                                </div>                              
                            </div>
                            
                            <div class="tab-pane fade" id="detcon">
                                <div class="form-row pt-4">
                                    <div class="form-group col-sm-3 mt-2">
                                        <label>Detracción:</label>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="det" required>
                                            <label class="custom-control-label" for="det">Afecto</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3 mt-2">
                                        <label>Retención:</label>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="ret" required>
                                            <label class="custom-control-label" for="ret">Afecto</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3 mt-2">
                                        <label>Percepción:</label>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="per" required>
                                            <label class="custom-control-label" for="per">Afecto</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3 mt-2">
                                        <label>Inventario:</label>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="inv" required>
                                            <label class="custom-control-label" for="inv">Almacenable</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label>Unidad de medida:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>                  
                                    <div class="form-group col-md-5">
                                        <label>Cantidad de Unidades:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div> 
                                    <div class="form-group col-md-2">     
                                        <label style="visibility: hidden;">productos</label>
                                        <button type="button" class="btn btn-info">
                                            Añadir <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                                        </button>                                                                     
                                    </div> 
                                    
                                    <div class="form-group col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-responsive-sm mt-2 ">
                                                <thead class="thead-info">
                                                    <tr>                                					                               
                                                        <th>#</th>
                                                        <th>Cuenta</th>
                                                        <th>Cantidad</th>                                                                                             
                                                        <th>Eliminar</th>                                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>   			
                                                        <td>1</td>                                
                                                        <td>Millares</td>  
                                                        <td>202</td>  
                                                        <td>
                                                            <div class="d-flex">
                                                                <a class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>                                                                           
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
    
                                    <div class="form-group col-md-4">
                                        <label>Cuenta Compra:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div> 
                                    <div class="form-group col-md-4">
                                        <label>Cuenta Venta:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div> 
                                    <div class="form-group col-md-4">
                                        <label>Cuenta Impuesto:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div> 
    
                                </div>                                
                            </div>
                            <div class="tab-pane fade" id="anticipo">
                                <div class="summernote"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Editar-->
    <div class="modal fade eacpro" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ACTUALIZAR CONCEPTOS</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="default-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#info1">Información General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#inventario1">Inventario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#foto1">Foto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#detcon1">Detalles Contabilidad</a>
                            </li>
                            <li class="nav-item mr-auto">
                                <a class="nav-link" data-toggle="tab" href="#anticipo1">Presentación</a>
                            </li>                        
                        </ul>
                        
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info1" role="tabpanel">                                                         
                                <div class="form-row pt-4">
                                    <div class="form-group col-md-4">
                                        <label>Código:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Ámbito:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Tipo Concepto:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Marca:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>                  
                                    <div class="form-group col-md-4">
                                        <label>Nombre:</label>
                                        <input type="text" class="form-control" placeholder="Serie">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Estado:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Descripción:</label>
                                        <textarea class="form-control"></textarea>                        
                                    </div>
                                    <div class="form-group col-sm-4 mt-2">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="igv" required>
                                            <label class="custom-control-label" for="igv">Precio Incluye IGV</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 mt-2">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="pventa" required>
                                            <label class="custom-control-label" for="pventa">Mostrar Punto Venta</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 mt-2">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="vss" required>
                                            <label class="custom-control-label" for="vss">Vender sin Stock</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Precio Compra:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Precio Venta:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Stock Mínimo:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Stock Máximo:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Clase:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Grupo:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Sub Grupo:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Cod. SUNAT:</label>
                                        <input type="text" class="form-control" placeholder="Serie">
                                    </div>  
                                    <div class="form-group col-md-4">
                                        <label>Tipo Afecto:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="alert alert-info text-center" role="alert">
                                            Info! Escribir las 3 primeras letras del producto para empezar a buscar.
                                        </div>
                                    </div>                                                                     
                                </div>  
                            </div>
    
                            <div class="tab-pane fade" id="inventario1">
                                <div class="form-row pt-4">                                
                                    <div class="col-sm-12">
                                       
                                    </div>
                                </div>  
                            </div>
    
                            <div class="tab-pane fade" id="foto1">
                                <div class="form-row pt-4">       
                                    <div class="form-group col-md-12">
                                        <label class="mr-2">Foto Producto:</label>
                                        <button type="button" class="btn light btn-primary" style="overflow: hidden; position: relative;">
                                            <input (change)="detectFiles($event)" class="fileInput" type="file" name="file1" accept="image/*"
                                            style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                                            <span class="btn-icon-left text-primary">
                                                <i class="fa fa-upload color-info"></i>
                                            </span>Subir foto
                                        </button>                                
                                    </div>  
                                    <div class="form-group col-md-12">
                                        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="100%">
                                    </div>
                                </div>                              
                            </div>
                            
                            <div class="tab-pane fade" id="detcon1">
                                <div class="form-row pt-4">
                                    <div class="form-group col-sm-3 mt-2">
                                        <label>Detracción:</label>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="det" required>
                                            <label class="custom-control-label" for="det">Afecto</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3 mt-2">
                                        <label>Retención:</label>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="ret" required>
                                            <label class="custom-control-label" for="ret">Afecto</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3 mt-2">
                                        <label>Percepción:</label>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="per" required>
                                            <label class="custom-control-label" for="per">Afecto</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3 mt-2">
                                        <label>Inventario:</label>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="inv" required>
                                            <label class="custom-control-label" for="inv">Almacenable</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label>Unidad de medida:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div>                  
                                    <div class="form-group col-md-5">
                                        <label>Cantidad de Unidades:</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div> 
                                    <div class="form-group col-md-2">     
                                        <label style="visibility: hidden;">productos</label>
                                        <button type="button" class="btn btn-info">
                                            Añadir <span class="btn-icon-right"><i class="fa fa-plus"></i></span>
                                        </button>                                                                     
                                    </div> 
                                    
                                    <div class="form-group col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-responsive-sm mt-2 ">
                                                <thead class="thead-info">
                                                    <tr>                                					                               
                                                        <th>#</th>
                                                        <th>Cuenta</th>
                                                        <th>Cantidad</th>                                                                                             
                                                        <th>Eliminar</th>                                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>   			
                                                        <td>1</td>                                
                                                        <td>Millares</td>  
                                                        <td>202</td>  
                                                        <td>
                                                            <div class="d-flex">
                                                                <a class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>                                                                           
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
    
                                    <div class="form-group col-md-4">
                                        <label>Cuenta Compra:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div> 
                                    <div class="form-group col-md-4">
                                        <label>Cuenta Venta:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div> 
                                    <div class="form-group col-md-4">
                                        <label>Cuenta Impuesto:</label>
                                        <select class="form-control default-select">
                                            <option selected disabled>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>                        
                                    </div> 
    
                                </div>                                
                            </div>
                            <div class="tab-pane fade" id="anticipo1">
                                <div class="summernote"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>