<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Tesorería</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Mantenimiento de bancos de la empresa</a></li>
        </ol>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">                
                <form class="col-sm-12 mt-3">  
                    <div class="form-row">
                        <div class="input-group mb-3 diet-search mr-4">
                            <input type="text" class="form-control" placeholder="Search Menus here">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                         
                        <div class="form-group">
                            <a type="button" data-toggle="modal" data-target=".newbancoempresa" class="btn btn-info">Agregar<span
                                class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </a>                        
                        </div>
                        <div class="form-group mb-0 ml-auto">
                            <label class="radio-inline mt-3 mr-3"><input type="radio" name="optradio"> Todos</label>
                            <label class="radio-inline mt-3 mr-3"><input type="radio" name="optradio"> Activos</label>
                            <label class="radio-inline mt-3 mr-3"><input type="radio" name="optradio"> Inactivos</label>
                        </div>
                    </div>
                </form>                    
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-responsive-sm">
                        <thead class="thead-info">
                            <tr>                                
                                <th>Banco</th>
                                <th>Nro. Cuenta</th>
                                <th>Cuenta Interbancaria</th>
                                <th>Tipo</th>
                                <th>Tipo Moneda</th>
                                <th>Cuenta Contable</th>
                                <th>Fecha Apertura</th> 
                                <th>Estado</th>                              
                                <th>Fecha de Registro</th>                              
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AGROBANCO</td>
                                <td>1233233232233232</td>
                                <td>1111111111111111111</td>
                                <td>28</td>
                                <td>Soles</td>
                                <td>596184</td>                               
                                <td>08-09-2021</td>                               
                                <td>
                                    <span class="badge light badge-success">Activo</span>
                                    <!--
                                    <span class="badge light badge-danger">Propuesta Enviada</span>
                                    <span class="badge light badge-warning">Propuesta Pendiente</span>
                                    -->                                    
                                </td> 
                                <td>17-08-2020</td>
                                <td>
                                    <div class="d-flex">
                                        <a data-toggle="modal" data-target=".anewbancoempresa" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                        <a data-toggle="modal" data-target="#eliminar" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
                
    <!-- Confirmación -->
    <div class="modal fade" id="eliminar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro que desea eliminar?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
                   
    <!--Agregar -->

    <div class="modal fade newbancoempresa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nueva Banco Empresa</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row"> 
                        <div class="form-group col-md-4">
                            <label>Ámbito:</label>
                            <select class="form-control default-select">
                                <option selected>Ámbito1</option>
                                <option>Ámbito2</option>                               
                            </select>                    
                        </div>
                        <div class="form-group col-md-4">
                            <label>Tipo moneda:</label>
                            <select class="form-control default-select">
                                <option selected>Soles</option>
                                <option>Intis</option>                               
                            </select>                    
                        </div>
                        <div class="form-group col-md-4">
                            <label>Tipo de cuenta:</label>
                            <select class="form-control default-select">
                                <option selected>Ahorro</option>
                                <option>Crédito</option>                               
                            </select>                    
                        </div>
                        <div class="form-group col-md-4">
                            <label>Banco:</label>
                            <select class="form-control default-select">
                                <option selected>Banco1</option>
                                <option>Banco2</option>                               
                            </select>                    
                        </div>                        
                        <div class="form-group col-md-4">
                            <label>Número de cuenta:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Número de Cuenta interbancaria:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Cuenta Contable:</label>
                            <select class="form-control default-select">
                                <option selected>Soles</option>
                                <option>Intis</option>                               
                            </select>                    
                        </div>
                        <div class="form-group col-md-4">
                            <label>Fecha apertura:</label>
                            <input type="date" class="form-control">
                        </div>                        
                        <div class="form-group col-md-4">
                            <label>Estado:</label>
                            <select class="form-control default-select">
                                <option selected>Activo</option>
                                <option>Inactivo</option>                               
                            </select>                    
                        </div>                          
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>    

    <!--Actualizar -->

    <div class="modal fade anewbancoempresa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Actualizar Banco Empresa</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row"> 
                        <div class="form-group col-md-4">
                            <label>Ámbito:</label>
                            <select class="form-control default-select">
                                <option selected>Ámbito1</option>
                                <option>Ámbito2</option>                               
                            </select>                    
                        </div>
                        <div class="form-group col-md-4">
                            <label>Tipo moneda:</label>
                            <select class="form-control default-select">
                                <option selected>Soles</option>
                                <option>Intis</option>                               
                            </select>                    
                        </div>
                        <div class="form-group col-md-4">
                            <label>Tipo de cuenta:</label>
                            <select class="form-control default-select">
                                <option selected>Ahorro</option>
                                <option>Crédito</option>                               
                            </select>                    
                        </div>
                        <div class="form-group col-md-4">
                            <label>Banco:</label>
                            <select class="form-control default-select">
                                <option selected>Banco1</option>
                                <option>Banco2</option>                               
                            </select>                    
                        </div>                        
                        <div class="form-group col-md-4">
                            <label>Número de cuenta:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Número de Cuenta interbancaria:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Cuenta Contable:</label>
                            <select class="form-control default-select">
                                <option selected>Soles</option>
                                <option>Intis</option>                               
                            </select>                    
                        </div>
                        <div class="form-group col-md-4">
                            <label>Fecha apertura:</label>
                            <input type="date" class="form-control">
                        </div>                        
                        <div class="form-group col-md-4">
                            <label>Estado:</label>
                            <select class="form-control default-select">
                                <option selected>Activo</option>
                                <option>Inactivo</option>                               
                            </select>                    
                        </div>                          
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>     

</div>  