<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Planillas</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../../assets/images/favicon.png">    

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

</head>
<body>
     

    <!-- Main wrapper start -->
    <div id="main-wrapper">
        
		<!-- Header start 
        <app-header></app-header>-->
        <!-- Header end ti-comment-alt -->

         <!-- Sidebar start -->
        <app-side-bar></app-side-bar>
        <!-- Sidebar end -->
		
        <!-- Content body start -->
        <div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Perfil Usuario</a></li>
                    </ol>
                </div>
                
                    <div class="form-row">
                        <div class="form-group col-sm-8">
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Perfil del usuario</h5>      
                                            <label >Nombre del Usuario</label>                          
                                            <hr>
                                            <div class="input-group mb-3 input-info-o mt-4">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Username">
                                            </div>
                                            <div class="input-group mb-3 input-info-o">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Username">
                                            </div>
                                            <div class=" text-center">
                                                <button type="button" class="btn btn-rounded btn-info">
                                                    <span class="btn-icon-left text-info"><i class="fa fa-floppy-o"></i>
                                                    </span>Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>                            
                        </div>   
                        <div class="form-group col-sm-4">
                            <div class="card">                            
                                <div class="card-body">
                                    <h5 class="card-title">Fotografía  del usuario</h5>      
                                    <label >Nombre del Usuario</label>                          
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-sm-12">
                                            <div class="row">
                                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                                                </div>
                                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                                    <div class="card-body">
                                                        <div class="new-arrival-product">
                                                            <div class="new-arrivals-img-contnent">
                                                                <img class="img-fluid" src="../../../../../../assets/images/profile/logoperfil.jpg" alt="">
                                                            </div>
                                                            <div class="new-arrival-content text-center mt-3">
                                                                <button type="button" class="btn light btn-primary" style="overflow: hidden; position: relative;">
                                                                    <input class="fileInput" type="file" name="file1" accept="image/png,image/jpeg"
                                                                    style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                                                                    <span class="btn-icon-left text-primary">
                                                                        <i class="fa fa-camera color-info"></i>
                                                                    </span>Actualizar Foto
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div> 
                                </div>
                            </div>
                        </div>                 
                    </div>
                
                
                <div class="form-row">
                    
                    
                </div>
                                               
            
            </div>  
        </div>
        

        <!-- Content body end -->

        <!-- Footer start -->
       <app-footer></app-footer>
        <!-- Footer end -->

    </div>
    <!-- Main wrapper end -->

</body>

</html>

