 <!--**********************************
        Nav header start
***********************************-->

<div class="nav-header">
    <a href="home" style="cursor:pointer;" class="brand-logo">
        <img class="logo-abbr" src="../../../assets/images/Logo Planillas/Recurso1x.png" alt="">
        <img class="logo-compact" src="../../../assets/images/logo-text.png" alt="">
        <img class="brand-title" src="../../../assets/images/Logo Planillas/Recurso2.png" alt="">
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
<!--**********************************
        Nav header end
***********************************-->

<!--**********************************
        Header start
***********************************-->

<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">
                    <div class="dashboard_bar">
                        Dashboard
                    </div>
                </div>
                <ul class="navbar-nav header-right">		
                    
                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown">
                            <img src="../../../assets/images/profile/17.jpg" width="20" alt=""/>
                            <div class="header-info">
                                <span class="text-black"><strong>Charles Xavier</strong></span>
                                <p class="fs-12 mb-0">656565656</p>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="" class="dropdown-item ai-icon">
                                <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <span class="ml-2">Mis Datos
                                    <div class="form-group">Datos de la Empresa</div>
                                </span>
                            </a>
                            <a href="" class="dropdown-item ai-icon">
                                <div class="form-row">
                                    <img src="../../../assets/images/profile/17.jpg" width="20" alt=""/>
                                    <div class="header-info">
                                        <span class="text-black"><strong>Charles Xavier</strong></span>
                                        <p class="fs-12 mb-0">656565656</p>
                                    </div>
                                </div>                                        
                            </a>
                            <a href="" class="dropdown-item ai-icon">
                                <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                <span class="ml-2">Configuración de la Cuenta </span>
                            </a>
                            <a href="" class="dropdown-item ai-icon">
                                <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                <span class="ml-2">Cerrar Sesión </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div> 	        			        
		       
<!--**********************************
        Header end ti-comment-alt
***********************************-->

<!--**********************************
        Sidebar start
***********************************-->

<div class="deznav">

    <!--Compras *ngIf()=""-->
    <div *ngIf="this.isViewCompras" class="deznav-scroll">
		<ul  class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-files-o"></i>
					<span class="nav-text">Documentos</span>
				</a>
                <ul aria-expanded="false">
					<li><a routerLink="/compras/documentos/presupuestos" >Presupuestos</a></li>
					<li><a routerLink="/compras/documentos/orden-compra" >Orden de Compra</a></li>
					<li><a routerLink="/compras/documentos/documentos-compra" >Documentos de Compra</a></li>
					<li><a routerLink="/compras/documentos/notas-credito-debito" >Notas de Crédito/Débito</a></li>
				</ul>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
				    <i class="fa fa-book"></i>
					<span class="nav-text">Catálogos</span>
				</a>
                <ul aria-expanded="false">
                    <li><a routerLink="/compras/catalogos/productos" >Productos</a></li>
                    <li><a routerLink="/compras/catalogos/proveedores" >Proveedores</a></li> 
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Movimientos</span>
			    </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/compras/movimientos/mercaderia" >Movimientos Mercadería</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-calculator-1"></i>
                    <span class="nav-text">Gestión de Recibos</span>
			    </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/compras/gestion-recibos/impuestos-honorario" >Impuestos Honorarios</a></li>
                    <li><a routerLink="/compras/gestion-recibos/tipos-honorario" >Tipos de Honorarios</a></li>
                    <li><a routerLink="/compras/gestion-recibos/recibos" >Recibos</a></li>
                    <li><a routerLink="/compras/gestion-recibos/honorario" >Honorarios</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-check-square"></i>
                    <span class="nav-text">Aprobaciones</span>
				</a>
                <ul aria-expanded="false">
                    <li><a routerLink="/compras/aprobaciones/orden-compra" >Orden de Compra por Aprobar</a></li>
                    <li><a routerLink="/compras/aprobaciones/presupuesto" >Presupuesto por Aprobar</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-cogs"></i>
                    <span class="nav-text">Configuración</span>
				</a>
                <ul aria-expanded="false">
                    <li><a routerLink="/compras/configuracion/usuarios" >Usuarios</a></li>
                    <li><a routerLink="/compras/configuracion/categoria-productos" >Categoría de Productos</a></li>
                    <li><a routerLink="/compras/configuracion/motivo-traslado" >Motivos de Traslado</a></li>
                    <li><a routerLink="/compras/configuracion/tipo-movimiento-almacen" >Tipo de Movimientos de Almacén</a></li>
                    <li><a routerLink="/compras/configuracion/codigos-aduana" >Códigos Aduana</a></li>
                    <li><a routerLink="/compras/configuracion/proyecto" >Proyectos</a></li>
                    <li><a routerLink="/compras/configuracion/marcas" >Marcas</a></li>
                    <li><a routerLink="/compras/configuracion/responsable" >Responsable</a></li>
                    <li><a routerLink="/compras/configuracion/tipos-concepto" >Tipos de Concepto</a></li>
                    <li><a routerLink="/compras/configuracion/unidades-medida" >Unidades de Medida</a></li>
                </ul>
            </li>
            
        </ul>
        <div class="copyright">
			<p><strong>Planillas, hecho por Partnertech</strong> © 2021 Todos los derechos reservados</p>
		</div>
    </div>

    <!--Ventas-->
    <div *ngIf="this.isViewVentas" class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-files-o"></i>
					<span class="nav-text">Documentos</span>
				</a>
                <ul aria-expanded="false">
					<li><a routerLink="/ventas/documentos/cotizacion" >Cotización</a></li>
					<li><a routerLink="/ventas/documentos/nota-pedido" >Nota Pedido</a></li>
					<li><a routerLink="/ventas/documentos/documento-venta" >Documentos de Ventas</a></li>
				</ul>
            </li>
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-files-o"></i>
					<span class="nav-text">Catálogos</span>
				</a>
                <ul aria-expanded="false">
                    <li><a routerLink="/ventas/catalogos/productos" >Productos</a></li>
                    <li><a routerLink="/ventas/catalogos/clientes" >Clientes</a></li>
				</ul>
            </li>
        </ul>
        <div class="copyright">
			<p><strong>Planillas, hecho por Partnertech</strong> © 2021 Todos los derechos reservados</p>
		</div>
    </div>

    <!--Tesoreria-->      
    <div *ngIf="this.isViewTesoreria" class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-files-o"></i>
					<span class="nav-text">Pagos y Cobranzas</span>
				</a>
                <ul aria-expanded="false">
					<li><a routerLink="/tesoreria/pagos-cobranza/cuentas-pagar" >Cuentas por Pagar</a></li>
					<li><a routerLink="/tesoreria/pagos-cobranza/cuentas-cobrar" >Cuentas por Cobrar</a></li>
					<li><a routerLink="/tesoreria/pagos-cobranza/constancias" >Constancias de Pagos y Cobros</a></li>
					<li><a routerLink="/tesoreria/pagos-cobranza/pagos-cobros" >Pagos y Cobros Múltiples</a></li>
				</ul>
            </li>   
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="fa fa-files-o"></i>
					<span class="nav-text">Configuración</span>
				</a>
                <ul aria-expanded="false">
					<li><a routerLink="/tesoreria/configuracion/punto-venta" >Punto de Venta</a></li>
					<li><a routerLink="/tesoreria/configuracion/series" >Series</a></li>
					<li><a routerLink="/tesoreria/configuracion/bancos-empresa" >Bancos Empresas</a></li>
					<li><a routerLink="/tesoreria/configuracion/cajas" >Cajas</a></li>
					<li><a routerLink="/tesoreria/configuracion/cemtro-costos" >Centro de Costos</a></li>
					<li><a routerLink="/tesoreria/configuracion/tipo-cambio" >Tipo de Cambio</a></li>
					<li><a routerLink="/tesoreria/configuracion/periodos" >Periodos</a></li>
					<li><a routerLink="/tesoreria/configuracion/marcas-tarjetas" >Marcas de Tarjetas</a></li>
					<li><a routerLink="/tesoreria/configuracion/conciliaciones" >Conciliación</a></li>					
				</ul>
            </li>          
        </ul>
        <div class="copyright">
			<p><strong>Planillas, hecho por Partnertech</strong> © 2021 Todos los derechos reservados</p>
		</div>
    </div>
    
    <!--Almacenes-->
    <div *ngIf="this.isViewAlmacen" class="deznav-scroll">
        <ul  class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Catálogos</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/almacenes/catalogos/productos" >Productos</a></li>
                    <li><a routerLink="/almacenes/catalogos/clientes" >Clientes</a></li>
                    <li><a routerLink="/almacenes/catalogos/proveedores" >Proveedores</a></li>
                </ul>
            </li>  
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Movimientos</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/almacenes/movimientos/guias-entrada" >Guías de Entrada</a></li>
                    <li><a routerLink="/almacenes/movimientos/guias-salida" >Guías de Salida</a></li>
                    <li><a routerLink="/almacenes/movimientos/mercaderia" >Movimientos de Mercadería</a></li>
                </ul>
            </li>    
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Configuración</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/almacenes/configuracion/categoria-productos" >Categoría de Productos</a></li>
                    <li><a routerLink="/almacenes/configuracion/almacen" >Almacén</a></li>
                    <li><a routerLink="/almacenes/configuracion/tipo-movimiento-almacen" >Tipo de Movimientos de Almacén</a></li>
                    <li><a routerLink="/almacenes/configuracion/marcas" >Marcas</a></li>
                </ul>
            </li>          
        </ul>
        <div class="copyright">
			<p><strong>Planillas, hecho por Partnertech</strong> © 2021 Todos los derechos reservados</p>
		</div>
    </div>
    
    <!--Contabilidad-->
    <div *ngIf="this.isViewContabilidad" class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Contable</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/contabilidad/contable/plan-cuentas" >Plan de Cuentas</a></li>
                    <li><a routerLink="/contabilidad/contable/plantilla-asientos" >Plantilla de Asientos</a></li>
                    <li><a routerLink="/contabilidad/contable/asientos" >Asientos</a></li>
                </ul>
            </li>  
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Planilla</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/contabilidad/planilla/empleados" >Empleados</a></li>
                </ul>
            </li>  
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Reportes</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/contabilidad/reportes/reportes-contables" >Reportes Contables</a></li>
                </ul>
            </li>  
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Configuración</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/contabilidad/configuracion/nivel-cuenta" >Nivel de Cuenta</a></li>
                    <li><a routerLink="/contabilidad/configuracion/rubro-contable" >Rubro Contable</a></li>
                    <li><a routerLink="/contabilidad/configuracion/tipo-cuenta-bancaria" >Tipo de Cuenta Bancaria</a></li>
                    <li><a routerLink="/contabilidad/configuracion/tipo-opracion" >Tipo de Operación</a></li>
                    <li><a routerLink="/contabilidad/configuracion/tipo-analisis" >Tipo de Análisis</a></li>
                    <li><a routerLink="/contabilidad/configuracion/tipo-cuentas" >Tipo de Cuentas</a></li>
                    <li><a routerLink="/contabilidad/configuracion/pais-cuenta-equivalente" >País Cuenta Equivalente</a></li>
                </ul>
            </li>        
        </ul>
        <div class="copyright">
			<p><strong>Planillas, hecho por Partnertech</strong> © 2021 Todos los derechos reservados</p>
		</div>
    </div>

    <!--Punto Venta-->   
    <div *ngIf="this.isViewPuntoVenta" class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Documentos</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/punto-venta/documentos/venta-directa" >Venta Directa</a></li>
                    <li><a routerLink="/punto-venta/documentos/sesiones" >Sesiones</a></li>
                </ul>
            </li>                   
        </ul>
        <div class="copyright">
			<p><strong>Planillas, hecho por Partnertech</strong> © 2021 Todos los derechos reservados</p>
		</div>
    </div>
        
    <!--Configuracion-->
    <div *ngIf="this.isViewConfiguracion" class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Planilla</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/configuracion/planilla/areas" >Áreas</a></li>
                    <li><a routerLink="/configuracion/planilla/cargos" >Cargos</a></li>
                    <li><a routerLink="/configuracion/planilla/empleados" >Empleados</a></li>
                </ul>
            </li>      
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Administrar ERP</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/configuracion/administrar-erp/modulos" >Módulos</a></li>
                    <li><a routerLink="/configuracion/administrar-erp/paginas" >Páginas</a></li>
                    <li><a routerLink="/configuracion/administrar-erp/agrupadores" >Agrupadores</a></li>
                    <li><a routerLink="/configuracion/administrar-erp/planes" >Planes</a></li>
                    <li><a routerLink="/configuracion/administrar-erp/cuentas" >Cuentas</a></li>
                    <li><a routerLink="/configuracion/administrar-erp/tareas" >Tareas</a></li>
                </ul>
            </li>  
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Correos</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/configuracion/correos/cuentas-correos" >Cuentas de Correo</a></li>
                    <li><a routerLink="/configuracion/correos/plantillas-correo" >Plantillas de Correo</a></li>
                </ul>
            </li>    
            <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-files-o"></i>
                    <span class="nav-text">Configuración</span>
                </a>
                <ul aria-expanded="false">
                    <li><a routerLink="/configuracion/configuracion/usuarios" >Usuarios</a></li>
                    <li><a routerLink="/configuracion/configuracion/bancos" >Bancos</a></li>
                    <li><a routerLink="/configuracion/configuracion/perfiles" >Perfiles</a></li>
                    <li><a routerLink="/configuracion/configuracion/tipo-moneda" >Tipo de Moneda</a></li>
                    <li><a routerLink="/configuracion/configuracion/condiciones-pago" >Condiciones de Pago</a></li>
                    <li><a routerLink="/configuracion/configuracion/parametros" >Parametros</a></li>
                    <li><a routerLink="/configuracion/configuracion/empresas" >Empresas</a></li>
                    <li><a routerLink="/configuracion/configuracion/almacen" >Almacén</a></li>
                    <li><a routerLink="/configuracion/configuracion/locales" >Locales</a></li>
                    <li><a routerLink="/configuracion/configuracion/proyecto" >Proyecto</a></li>
                </ul>
            </li>               
        </ul>
        <div class="copyright">
			<p><strong>Planillas, hecho por Partnertech</strong> © 2021 Todos los derechos reservados</p>
		</div>
    </div>
		
</div>

<!--**********************************
            Sidebar end
***********************************-->        
