<div class="container-fluid">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Ventas</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Documentos</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Documento de Ventas</a></li>
        </ol>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="col-sm-4 mr-auto">
                    <div class="input-group mb-2 diet-search col-sm-12">
                        <input type="text" class="form-control col-sm-12" placeholder="Buscar">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div> 
                </div>  
                <div class="col-sm-3">                    
                    <div class="form-row">
                        <div class="d-flex">
                            <a class="btn btn-info mr-2" title="Consulta estado documento"><i class="fa fa-info"></i></a>
                            <a class="btn btn-primary mr-2" title="Generar y descargar excel"><i class="fa fa-file-excel-o"></i></a>
                            <a class="btn btn-secondary mr-2" title="Generar y descargar excel sunat"><i class="fa fa-file-excel-o"></i></a>
                            <a class="btn btn-success" title="Compras gravadas y no gravadas .txt"><i class="fa fa-file-text-o"></i></a>
                        </div>                                 
                    </div>
                </div>
                <div class="col-sm-2">
                    <a type="button" class="btn btn-info" routerLink="/ventas/documentos/documento-venta/agregar">Añadir <span
                        class="btn-icon-right"><i class="fa fa-plus"></i></span>
                    </a> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">                 
                <form class="col-sm-12 mt-3">  
                    <div class="form-row">  
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select class="form-control default-select col-sm-12">
                                    <option selected disabled>Proceso</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div> 
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select class="form-control default-select col-sm-12">
                                    <option selected disabled>Proceso</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <select class="form-control default-select col-sm-12">
                                    <option selected disabled>Proceso</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <select class="form-control default-select col-sm-12">
                                    <option selected disabled>Estado</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                </select>
                            </div>
                        </div>   
                             
                    </div>
                </form>                    
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-responsive-sm">
                        <thead class="thead-info">
                            <tr>                                
                                <th>Código</th>
                                <th>Documento</th>
                                <th>Proveedor</th>
                                <th>Fecha de Emisión</th>
                                <th>Fecha de Vencimiento</th>
                                <th>Subtotal</th>
                                <th>Impuesto</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Estado Facturación</th>
                                <th>Acciones</th>
                                <th>Consultar Estado</th>                                
                                <th>Dar de baja</th>                                
                                <th>Reporte</th>                                
                                <th>Enviar email</th>                                
                                <th>CPE</th>                                
                                <th>CDR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01-000000828</td>
                                <td>Boleta</td>
                                <td>Julia Beltrán</td>
                                <td>21-01-2021</td>
                                <td>21-01-2021</td>
                                <td>S/.11,660.00</td>
                                <td>S/.2,098.80</td>
                                <td>S/.13,758.80</td>                                 
                                <td>
                                    <span class="badge light badge-success">Activo</span>
                                    <!--
                                    <span class="badge light badge-danger">Propuesta Enviada</span>
                                    <span class="badge light badge-warning">Propuesta Pendiente</span>
                                    -->                                    
                                </td>
                                <td>
                                    <span class="badge light badge-success">Activo</span>
                                    <!--
                                    <span class="badge light badge-danger">Propuesta Enviada</span>
                                    <span class="badge light badge-warning">Propuesta Pendiente</span>
                                    -->                                    
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a routerLink="/ventas/documentos/documento-venta/editar" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                        <a data-toggle="modal" data-target="#eliminar" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a data-toggle="modal" data-target=".documento" class="btn btn-primary shadow btn-xs sharp"><i class="fa fa-file-text"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a data-toggle="modal" data-target="#darbaja" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-ban"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a class="btn btn-primary shadow btn-xs sharp"><i class="fa fa-file-pdf-o"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a data-toggle="modal" data-target=".enviar" class="btn btn-primary shadow btn-xs sharp"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a  class="btn btn-primary shadow btn-xs sharp"><i class="fa fa-file-code-o"></i></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <a  class="btn btn-primary shadow btn-xs sharp"><i class="fa fa-file-code-o"></i></a>
                                    </div>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /# card -->
    </div>
      
    <!-- Eliminar -->
    <div class="modal fade" id="eliminar">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmar</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">¿Está seguro que desea eliminar?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Documento-->
    <div class="modal fade documento" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ESTADO DOCUMENTO </h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">                        
                    <div class="form-row">
                        <div class="col-sm-8">
                            <div class="col-sm-12">
                                <h5>10722042269 - CASTILLA HEREÑA DAIANA MARIA</h5>
                            </div> 
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <h5>Estado:</h5>
                            </div>
                        </div>                 
                    </div>     
                    <hr>   
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <p>Cliente :</p>
                                <p>RUC :</p>
                                <p>Establecimiento del emisor :</p>
                                <p>Impuestos :</p>
                                <p>Total :</p>
                            </div> 
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12 text-right">
                                <p>Julia Beltrán</p>
                                <p>40596859405</p>
                                <p>Av.Colonial 548</p>
                                <p>6480</p>
                                <p>42480</p>
                            </div> 
                        </div>                 
                    </div>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Regresar</button>
                </div>
            </div>
        </div>
    </div> 

    <!-- DarBaja -->
    <div class="modal fade" id="darbaja">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">OBSERVACIONES</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>Ingrese su observación :</label>
                            <textarea class="form-control"  rows="5"></textarea>
                        </div>
                        <div class="col-sm-12 mt-2">
                            <label>Fecha de baja :</label>
                            <input type="date" class="form-control">
                        </div>                 
                    </div>                         
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Enviar email-->
    <div class="modal fade enviar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ESTADO DOCUMENTO </h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">                        
                    <div class="form-row">
                        <div class="col-sm-4">
                            <label >Ingrese su observación :</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>                 
                    </div>    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div> 

    
    
</div>